<h2 id="section-faq-4"><%= t('help.faq.question_four.title_html') %></h2>
<%= image_tag "help/qualified-with-expiration.png", alt: "hubzone qualified with expiration", style: "width: 30rem;" %>
<p><%= t('help.faq.question_four.body_first_html') %></p>
<%= image_tag "help/additional-details-multiple.png", alt: "hubzone qualified with expiration", style: "width: 30rem;" %>
<p><%= t('help.faq.question_four.body_second_html') %></p>
