<div class="usa-width-three-fourths usa-layout-docs-faq">
  <h1><%= t('help.faq.title') %></h1>
  <%= render "faq_question_one" %>
  <%= render "faq_question_two" %>
  <%= render "faq_question_three" %>
  <%= render "faq_question_four" %>
</div>
