<% page_open = 'usa-current'
   page_closed = 'usa-not-current'
   overview_status = ''
   faq_status = '' %>

<% if @page_selected == 'overview'
    overview_status = page_open
    faq_status = page_closed
   elsif @page_selected == 'faq'
    overview_status = page_closed
    faq_status = page_open
   end %>

<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
    <ul class="usa-sidenav-list">
        <li>
            <a class=<%= overview_status %> href="/map/help"><%= t('help.overview.title') %></a>
            <ul class="usa-sidenav-sub_list">
                <li>
                    <a href="/map/help#section-eligibility"><%= t('help.elegibility.title') %></a>
                </li>
                <li>
                    <a href="/map/help#section-reporting"><%= t('help.reporting.title') %></a>
                </li>
                <li>
                    <a href="/map/help#section-map-legend"><%= t('help.legend.title') %></a>
                </li>
                <li>
                    <a href="/map/help#section-advanced"><%= t('help.advanced.title') %></a>
                </li>
            </ul>
        </li>
        <li>
          <a class=<%= faq_status %> href="/map/help/faq"><%= t('help.faq.title') %></a>
          <ul class="usa-sidenav-sub_list">
              <li>
                  <a href="/map/help/faq#section-faq-1"><%= t('help.faq.question_one.title') %></a>
              </li>
              <li>
                  <a href="/map/help/faq#section-faq-2"><%= t('help.faq.question_two.title') %></a>
              </li>
              <li>
                  <a href="/map/help/faq#section-faq-3"><%= t('help.faq.question_three.title') %></a>
              </li>
              <!-- <li>
                  <a href="/map/help/faq#section-faq-4">Question 4</a>
              </li> -->
          </ul>
        </li>
    </ul>
</aside>
