<div class="usa-width-three-fourths usa-layout-docs-main_content">
  <%= render "overview_heading" %>
  <%= render "section_elegibility" %>
  <%= render "section_reporting" %>
  <%= render "section_legend" %>
  <%= render "section_advanced" %>
  <%= render "section_version" %>
  <a class="return-to-top" href="#"><%=t('help.return_to_top') %></a>
</div>
