<h2 id="section-map-legend"><%= t('help.understanding.title_html') %></h2>
<%= image_tag "help/search-bar.png", alt: "hubzone search with autocomplete",  style: "width: 50rem;" %>
<h3><%=t('help.understanding.search_bar.title_html')%></h3>
<p><%=t('help.understanding.search_bar.body_html')%></p>
<h3><%=t('help.understanding.legend.title_html')%></h3>
<p><%=t('help.understanding.legend.overview_html')%></p>
<%= image_tag "help/legend.png", alt: "hubzone map legend", style: "width: 24rem;" %>
<h4><%=t('help.understanding.legend.census_tract.title_html')%></h4>
<p><%=t('help.understanding.legend.census_tract.body_html')%></p>
<h4><%=t('help.understanding.legend.county.title_html')%></h4>
<p><%=t('help.understanding.legend.county.body_html')%></p>
<h4><%=t('help.understanding.legend.indian_land.title_html')%></h4>
<p><%=t('help.understanding.legend.indian_land.body_html')%></p>
<h4><%=t('help.understanding.legend.redesignated_area.title_html')%></h4>
<p><%=t('help.understanding.legend.redesignated_area.body_html')%></p>
<h4><%=t('help.understanding.legend.disaster_area.title_html')%></h4>
<p><%=t('help.understanding.legend.disaster_area.body_html')%></p>

