<h2 id="section-alert"><%= t('help.overview.alert_title') %></h2>
<p class="usa-font-lead"><%= t('help.overview.alert_body_1') %></p>
<p class="usa-font-lead"><%= t('help.overview.alert_body_2') %></p>
<p class="usa-font-lead"><%= t('help.overview.alert_body_3') %></p>
<p class="usa-font-lead"><%= t('help.overview.alert_body_4') %></p>
<p class="usa-font-lead"><%= t('help.overview.alert_body_5') %></p>
