<h3><%= t('help.advanced.base_map.title_html') %></h3>
<p><%= image_tag "help/base-map-toggle.png", alt: "hubzone base map switcher", style: "float: left; width: 15rem; padding-right: 1rem;" %>
<%= t('help.advanced.base_map.body_html') %></p>
<h3><%= t('help.advanced.zoom.title_html') %></h3>
<p><%= image_tag "help/zoom-control.png", alt: "map zoom control icon", style: "width: 4.5rem; float: left; padding-right: 1rem;" %>
<%= t('help.advanced.zoom.body_html') %></p>
<h3><%= t('help.advanced.street_view.title_html') %></h3>
<p><%= image_tag "help/pegman.png", alt: "map stret view icon", style: "width: 4.5rem; float: left; padding-right: 1rem;" %>
<%= t('help.advanced.street_view.body_html') %></p>
<h3><%= t('help.advanced.my_location.title_html') %></h3>
<%= image_tag "help/geolocation.png", alt: "map my location geolocation icon", style: "width: 4.5rem; float: left; padding-right: 1rem;" %>
<p><%= t('help.advanced.my_location.body_html') %></p>
