<h2 id="section-eligibility"><%= t('help.elegibility.title') %></h2>
<%= image_tag("/assets/help/autocomplete.jpg", id: "help-autocomplete-image", alt: "hubzone map search autocomplete") %>
<p><%= t('help.elegibility.section.first') %></p>
<p><%= t('help.elegibility.section.second') %></p>
<p><%= t('help.elegibility.section.third') %></p>
