<h2 id="section-map-legend"><%= t('help.understanding.title') %></h2>
<h3><%=t('help.understanding.section.search_bar.title_html')%></h3>
<p><%=t('help.understanding.section.search_bar.body_html')%></p>
<h3><%=t('help.understanding.section.legend.title_html')%></h3>
<p><%=t('help.understanding.section.legend.overview_html')%></p>
<!-- <%= image_tag("/assets/help/legend.jpg", id: "help-legend-image", alt: "hubzone map legend") %> -->
<h4><%=t('help.understanding.section.legend.census_tract.title_html')%></h4>
<p><%=t('help.understanding.section.legend.census_tract.body_html')%></p>
<h4><%=t('help.understanding.section.legend.county.title_html')%></h4>
<p><%=t('help.understanding.section.legend.county.body_html')%></p>
<h4><%=t('help.understanding.section.legend.indian_land.title_html')%></h4>
<p><%=t('help.understanding.section.legend.indian_land.body_html')%></p>
<h4><%=t('help.understanding.section.legend.redesignated_area.title_html')%></h4>
<p><%=t('help.understanding.section.legend.redesignated_area.body_html')%></p>
<h4><%=t('help.understanding.section.legend.base_closure_area.title_html')%></h4>
<p><%=t('help.understanding.section.legend.base_closure_area.body_html')%></p>
