<h2 id="section-advanced"><%= t('help.advanced.title') %></h2>
<!-- <%= image_tag("/assets/help/advanced_controls.jpg", id: "help-advanced-image", alt: "hubzone map advanced controls and features") %> -->
<h3><%= t('help.advanced.base_map.title_html') %></h3>
<p><%= t('help.advanced.base_map.body_html') %></p>
<h3><%= t('help.advanced.zoom.title_html') %></h3>
<p><%= t('help.advanced.zoom.body_html') %></p>
<h3><%= t('help.advanced.street_view.title_html') %></h3>
<p><%= t('help.advanced.street_view.body_html') %></p>
<h3><%= t('help.advanced.my_location.title_html') %></h3>
<p><%= t('help.advanced.my_location.body_html') %></p>
