<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.base_name') %></h6>
  <h5><%= qualification["brac_sba_name"].blank? ? '--' : qualification["brac_sba_name"] %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.base_type') %></h6>
  <h5><%= qualification["fac_type"].blank? ? '--' : qualification["fac_type"] %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.base_designation') %></h6>
  <h5><%= qualification["effective"].blank? ? '--' : date_to_string(qualification["effective"]) %></h5>
</div>
