<div class="other-information details-row" hidden>
  <div class="designation-details-item">
    <h6><%= t('sidebar.other_information.congressional_district')%></h6>
    <h5><%= congressional_district["namelsad"].gsub("Congressional District ", " ") %></h5>
  </div>
</div>
<div class="other-information details-row" hidden>
  <div class="designation-details-item">
    <h6><%= t('sidebar.other_information.congressional_session')%></h6>
    <h5><%= congressional_district["cdsessn"] %></h5>
  </div>
</div>
<div class="other-information details-row" hidden>
  <div class="designation-details-item">
    <h6><%= t('sidebar.other_information.state')%></h6>
    <h5><%= congressional_district["state"] %></h5>
  </div>
</div>

<div class="other-information details-row" hidden>
  <div class="designation-details-item">
    <h6>County</h6>
    <h5><%= congressional_district["County"] %></h5>
  </div>
</div>
<div class="other-information details-row" hidden>
  <div class="designation-details-item">
    <h6>CountyID</h6>
    <h5><%= congressional_district["CountyID"] %></h5>
  </div>
</div>
<div class="other-information details-row" hidden>
  <div class="designation-details-item">
    <h6>TractID</h6>
    <h5><%= congressional_district["TractID"] %></h5>
  </div>
</div>


