<div class="other-information details-row" hidden>
  <div class="designation-details-item">
    <h6><%= t('sidebar.other_information.congressional_district')%></h6>
    <h5><%= congressional_district["namelsad"] %></h5>
  </div>
</div>
<div class="other-information details-row" hidden>
  <div class="designation-details-item">
    <h6><%= t('sidebar.other_information.congressional_session')%></h6>
    <h5><%= congressional_district["cdsessn"] %></h5>
  </div>
</div>
<div class="other-information details-row" hidden>
  <div class="designation-details-item">
    <h6><%= t('sidebar.other_information.state')%></h6>
    <h5><%= congressional_district["state"] %></h5>
  </div>
</div>

<div class="other-information details-row" hidden>
  <div class="designation-details-item">
    <h6>GEOID</h6>
    <h5><%= congressional_district["geoid"] %></h5>
  </div>
</div>
<div class="other-information details-row" hidden style="display: none;">
  <div class="designation-details-item">
    <h6>cdsessn</h6>
    <h5><%= congressional_district["cdsessn"] %></h5>
  </div>
</div>
<div class="other-information details-row" hidden style="display: none;">
  <div class="designation-details-item">
    <h6>cd116fp</h6>
    <h5><%= congressional_district["cd116fp"] %></h5>
  </div>
</div>


