<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.indian_land_name') %></h6>
  <h5><%= qualification["name"].blank? ? '--' : qualification["name"] %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.indian_land_census_code') %></h6>
  <h5><%= qualification["census"].blank? ? '--' : qualification["census"] %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.indian_land_type') %></h6>
  <h5><%= qualification["type"].blank? ? '--' : qualification["type"] %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.indian_land_class') %></h6>
  <h5><%= qualification["class"].blank? ? '--' : qualification["class"] %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.geographic_name_code') %></h6>
  <h5><%= qualification["gnis"].blank? ? '--' : qualification["gnis"].to_s %></h5>
</div>
