<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.disaster_name') %></h6>
  <h5><%= t(('hubzone_assertions.' + qualification["incident_description"])) %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.disaster_declaration') %></h6>
  <h5><%= t(('hubzone_assertions.' + qualification["qda_declaration"])) %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.disaster_designation') %></h6>
  <h5><%= t(('hubzone_assertions.' + qualification["qda_designation"])) %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.disaster_publish') %></h6>
  <h5><%= t(('hubzone_assertions.' + qualification["qda_publish"])) %></b></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.county_id') %></h6>
  <h5><%= t(('hubzone_assertions.' + qualification["county_fips"])) %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.county') %></h6>
  <h5><%= t(('hubzone_assertions.' + qualification["county"])) %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.state') %></h6>
  <h5><%= t(('hubzone_assertions.' + qualification["state"])) %></h5>
</div>
