<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.disaster_name') %></h6>
  <h5><%= qualification["incident_description"].blank? ? '--' : qualification["incident_description"] %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.disaster_declaration') %></h6>
  <h5><%= qualification["qda_declaration"].blank? ? '--' : date_to_string(qualification["qda_declaration"]) %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.disaster_designation') %></h6>
  <h5><%= qualification["qda_designation"].blank? ? '--' : date_to_string(qualification["qda_designation"]) %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.disaster_publish') %></h6>
  <h5><%= qualification["qda_publish"].blank? ? '--' : date_to_string(qualification["qda_publish"]) %></b></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.county_id') %></h6>
  <h5><%= qualification["county_fips"].blank? ? '--' : qualification["county_fips"] %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.county') %></h6>
  <h5><%= qualification["county"].blank? ? '--' : qualification["county"] %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.state') %></h6>
  <h5><%= qualification["state"].blank? ? '--' : qualification["state"] %></h5>
</div>
