<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.tract_id') %></h6>
  <h5><%= boundaries["tract_fips"].blank? ? '--' : boundaries["tract_fips"] %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.county') %></h6>
  <h5><%= boundaries["county"].blank? ? '--' : boundaries["county"] %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.state') %></h6>
  <h5><%= boundaries["state"].blank? ? '--' : boundaries["state"] %></h5>
</div>
