<div class="legend-header open">
  <h4><%= t('legend.title') %></h4>
  <i class="legend-button fa fa-chevron-down"></i>
</div>
<fieldset class="usa-fieldset-inputs">
  <legend class="usa-sr-only" aria-label="<%= t('legend.title') %>"><%= t('legend.title') %></legend>
  <ul class="legend-content" aria-label="<%= t('legend.title') %>">
  
  <div class="legend-list-title">2020 Census Boundaries </div>
    <li class="legend-item">
      <input id="us_county_" type="checkbox" name="us_county" value="us_county" autocomplete="off" checked="">
        <label for="us_county_">
          <div class="legend-layer-symbols layer-us_county" aria-label="<%= t('legend.icon_census_tract') %>"></div>County
        </label>
      </input>
    </li>
    <li class="legend-item">
      <input id="us_tract_" type="checkbox" name="us_tract" value="us_tract" autocomplete="off" checked="">
        <label for="us_tract_">
          <div class="legend-layer-symbols layer-us_tract" aria-label="<%= t('legend.icon_census_tract') %>"></div>Tract
        </label>
      </input>
    </li>


    <div class="legend-list-title"><%= t('legend.goverment_designated_areas') %></div>
    <li class="legend-item">
      <input id="eligible_tract_legend" type="checkbox" name="eligible_tract" value="eligible_tract" checked="" autocomplete="off">
      <label for="eligible_tract_legend">
        <div class="legend-layer-symbols layer-qct_r-eli" aria-label="<%= t('legend.icon_redesignated_census') %>"></div><%= t('legend.eligible_census_tract') %>
      </label>
      </input>
    </li>
    <li class="legend-item">
    <input id="eligible_county_legend" type="checkbox" name="eligible_county" value="eligible_county" checked="" autocomplete="off">
    <label for="eligible_county_legend">
      
      <div class="legend-layer-symbols layer-qnmc-eli" aria-label="<%= t('legend.icon_redesignated_county') %>"></div><%= t('legend.eligible_county') %>

    </label>
    </input>
  </li>
    <li class="legend-item">
    <input id="mvw_gov_area_map_legend" type="checkbox" name="mvw_gov_area_map" value="mvw_gov_area_map" checked="" autocomplete="off">
    <label for="mvw_gov_area_map_legend">
    <div class="legend-layer-symbols layer-mvw_gov_area_map"  aria-label="<%= t('legend.icon_mvw_gov_area_map') %>"></div>
    <div class="legend-layer-symbols layer-mvw_gov_area_map_county"  aria-label="<%= t('legend.icon_mvw_gov_area_map_county') %>"></div><%= t('legend.expired') %>
   </label>
   </input>
  </li> 

  

  <div class="legend-list-title"><%= t('legend.qualified') %></div>
  <li class="legend-item">
    <input id="hubzone_areas_existing" type="checkbox" name="hubzone_areas_existing" value="hubzone_areas_existing"  autocomplete="off">
    <label for="hubzone_areas_existing">
    <%= t('legend.all_existing_hubzone') %>
    </label>
    </input>
  </li>

  <li class="legend-item">
    <input id="hubzone_areas_expiring" type="checkbox" name="hubzone_areas_expiring" value="hubzone_areas_expiring"  autocomplete="off">
    <label for="hubzone_areas_expiring">
    <%= t('legend.all_expiring_hubzone') %>
    </label>
    </input>
  </li>

  <div class="legend-list-title"><%= t('legend.other_fedral_designation') %></div>
  <li class="legend-item">
    <input id="usda_rural_partner_networks" type="checkbox" name="usda_rural_partner_networks" value="usda_rural_partner_networks"  autocomplete="off">
    <label for="usda_rural_partner_networks">
    <div class="legend-layer-symbols layer-usda_rural_partner_networks" aria-label="<%= t('legend.icon_redesignated_county') %>"></div><%= t('legend.usda_rural_partner_networks') %>
  </label>
  </li>
  <li class="legend-item">
  <input id="treasury_opportunity_zones" type="checkbox" name="treasury_opportunity_zones" value="treasury_opportunity_zones"  autocomplete="off">
  <label for="treasury_opportunity_zones">
  <div class="legend-layer-symbols layer-treasury_opportunity_zones" aria-label="<%= t('legend.icon_redesignated_county') %>"></div><%= t('legend.treasury_opportunity_zones') %>
</label>
</li>

  </ul>
</fieldset>
