<%
  unless boundaries["expires"].nil?
    expires_text = boundaries["expires"].to_date < Date.today ? "expired" : "expires"
  end
%>
<div id="<%= boundaries['hz_type'] %>" class="designation-row">
  <div class="sidebar-layer-symbol layer-<%= boundaries["hz_type"] %>"></div>
  <div class="boundaries-label-wrapper" tabindex="13">
    <div class="boundaries-label">
      <%= t(('hubzone_assertions.' + boundaries["hz_type"]).to_s) %>
    </div>
      <% unless boundaries["expires"].nil? %>
      <span tabindex="14" class="expires-label"><%= t('hubzone_assertions.' + expires_text) %> <%= I18n.l Date.parse(boundaries["expires"]), format: :full %></span>
      <% end %>
  </div>
</div>
<div class="designation details-row" hidden>
  <%= render partial: 'map/additional_details/' + boundaries['hz_type'], locals: {boundaries: boundaries} %>
</div>
