<%
  # expecting body to be a hash that has either a message or a formatted_address and hubzones from hzutil search
  if body
    address = body['formatted_address'].nil? ? t(body['message']) : body['formatted_address']
    coordinates = !body['address_components'].nil? ? [format('%.6f', body['geometry']['location']['lat']) + "\xC2\xB0", format('%.6f', body['geometry']['location']['lng']) + "\xC2\xB0"].join(', ') : nil
    date = body['query_date'].present? ? (I18n.l Date.parse(body['query_date']), format: :full) : body['query_date']
    until_date = body['until_date'].present? ? (I18n.l Date.parse(body['until_date']), format: :full) : nil
    date_status = until_date && Date.parse(body['until_date']) < Date.today ? "expired" : "until"
    has_other_info = true if body.dig("other_information", "congressional_district")&.length&.positive?
    has_likely_qda = true if body.dig("other_information", "alerts")&.length&.positive?

    if body['formatted_address'].nil?
      visibility = 'hidden'
      details_visibility = 'hidden'
      boundries_visibility = 'hidden'
    elsif body['until_date'].present? && Date.parse(body['until_date']) < Date.today
      visibility = ''
      details_visibility = ''
      boundries_visibility = ''
      hubzone_status_style = 'non-qualified-hubzone'
      hubzone_status_indicator ='fa fa-times-circle-o non-qualified-hubzone'
      hubzone_status = t('hubzone_assertions.not_qualified')
      aria_hubzone_status = t('hubzone_assertions.not_qualified_aria')
      hubzones = body['hubzone']
      boundaries = body['boundaries']
    elsif body['hubzone'].size > 0
      visibility = ''
      boundries_visibility = ''
      hubzone_status_indicator = 'fa fa-check-circle-o qualified-hubzone'
      hubzone_status_style = 'qualified-hubzone'
      hubzone_status = t('hubzone_assertions.qualified')
      aria_hubzone_status = t('hubzone_assertions.qualified_aria')
      hubzones = body['hubzone']
      boundaries = body['boundaries']
    else
      boundaries = body['boundaries']
      visibility = ''
      details_visibility = 'hidden'
      boundries_visibility = ''
      hubzone_status_style = 'non-qualified-hubzone'
      hubzone_status_indicator ='fa fa-times-circle-o non-qualified-hubzone'
      hubzone_status = t('hubzone_assertions.not_qualified')
      aria_hubzone_status = t('hubzone_assertions.not_qualified_aria')
    end
  end
%>

<div class="sidebar-card search-result">
  <div class="hubzone-sidebar-cell marker">
    <span id="hubzone-clickable-marker"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
  </div>
  <div class="hubzone-sidebar-cell text">
    <div class="hubzone-sidebar-row">
      <h2 class="hubzone-sidebar-address clearable" tabindex="10"><%= address %></h2>
    </div>
    <% if coordinates %>
    <div class="hubzone-sidebar-row">
      <h4 class="hubzone-sidebar-coordinates clearable"><%= coordinates %></h4>
    </div>
    <% end %>
  </div>
</div>

<div class="sidebar-card check_123 hubzone-status <%= hubzone_status_style %> <%= visibility %>" style="display:none">
  <table id="hubzone-qualifications" class="sidebar-qualifications clearable">
    <thead>
      <th class="<%= hubzone_status_style %>" scope="row">
        <div class="hubzone-status-indicator ">
          <i class="<%= hubzone_status_indicator %>" aria-hidden="true"></i>
        </div>
        <div id="hubzone-status" tabindex="11" aria-label="<%= aria_hubzone_status %>"><%= hubzone_status %></div>
        <div class="hubzone-until-date">
        <% if until_date %>
          <%= t('sidebar.date_status.' + date_status) %><%= until_date %>
        <% end %>
        </div>
      </th>
    </thead>
  </table>
</div>

<div class="sidebar-card additional-details <%= details_visibility %>" style="display:none">
  <div class="qualifications">
    <div id="additional-details-button" class="usa-accordion-button additional-details" aria-label="Expand HUBZone Designation details">
      <span class="additional-details-title">
        <%= t('sidebar.details.title') %>
      </span>
      <span class="additional-details-expand show" data-action="show" data-cookie="hz-sidebar-ad-open" data-expands="sidebar-additional-details">
        <%= t('sidebar.details.show') %>
      </span>
      <span class="additional-details-expand hide" data-action="hide" data-cookie="hz-sidebar-ad-open" data-expands="sidebar-additional-details" hidden>
        <%= t('sidebar.details.hide') %>
      </span>
    </div>
    <div class="sidebar-additional-details">
      <%= render partial: "qualification", collection: hubzones %>
    </div>
  </div>
</div>

<div class="sidebar-card boundries-details <%= boundries_visibility %>"  style="display:none">
  <div class="qualifications">
    <div id="boundries-details-button" class="usa-accordion-button boundries-details" aria-label="Expand HUBZone Designation details">
      <span class="boundries-details-title">
        Boundraies
      </span>
      <span class="boundries-details-expand show" data-action="show" data-cookie="hz-sidebar-ad-open" data-expands="sidebar-boundries-details">
        <%= t('sidebar.details.show') %>
      </span>
      <span class="boundries-details-expand hide" data-action="hide" data-cookie="hz-sidebar-ad-open" data-expands="sidebar-boundries-details" hidden>
        <%= t('sidebar.details.hide') %>
      </span>
    </div>
    <div class="sidebar-boundries-details">
      <%= render partial: "boundaries", collection: boundaries %>
    </div>
  </div>
</div>


<% if has_likely_qda %>
  <%= render partial: "likely_qualification_alert", locals: {likely_qda_designations: body['other_information']['alerts']['likely_qda_designations']}  %>
<% end %>

<% if has_other_info %>
  <%= render partial: "local_information", locals: {other_information: body['other_information'], details_visibility: details_visibility}  %>
<% end %>

<div class="sidebar-card map-actions" style="display:none">
  <button id="map-report" tabindex="15">
    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
    <div class="create-report"><%= t('sidebar.print_version') %></div>
  </button>
  <button id="map-share" tabindex="16">
    <i class="fa fa-share" aria-hidden="true"></i>
    <div class="share-map"><%= t('sidebar.share_map') %></div>
  </button>
  <span id="report-waiting"></span>
  <div class="share-map-card hidden">
    <%= render partial: "share_map" %>
  </div>
</div>


<div class="sidebar-card hubzone-status-date <%= visibility %> clearable" tabindex="12">
<%= t('hubzone_assertions.qualifications_effective') %><%= date %>
</div>
