<div class="unsupported-browser">
  <div class="unsupported-browser-header">
    <%= image_tag("sba-logo.png", class: "ub-sba-logo") %>
    <h2><%= t('hubzone_map') %></h2>
  </div>
  <div class="unsupported-browser-body">
    <%= image_tag("sad-hubzone-map.png") %>
    <h2><%= t('unsupported.title') %></h2>
    <h4><%= t('unsupported.subtitle') %></h4>
  </div>
</div>
