<section class="map-body" id="map-body" aria-label="<%= t('map.aria_label') %>" tabindex="1">
  <div id="sidebar" class="hidden">
    <button id="sidebar-button" class="usa-button">Sidebar Button<i class="fa fa-chevron-left"></i></button>
    <%= label_tag "sidebar-button", t('sidebar.button'), class: "usa-sr-only" %>
    <div id="sidebar-content" class="sidebar-content">
      <%= render partial: "map_sidebar", locals: {body: nil} %>
    </div>
  </div>
  <div id="map" class="sidebar-map"></div>
  <div class="hubzone-search">
        <%= form_tag search_path, remote: true, method: :get, class: "usa-search usa-search-small", id: 'hubzone-search-form', onsubmit: "HZApp.GA.trackSubmit('search', '#search-field-small')" do %>
        <div id="map-search" role="search">
          <%= hidden_field_tag "locale", I18n.locale %>
          <%= hidden_field_tag "query_date", Date.today %>
          <%= label_tag "search", t('search.label'), id: "hubzone-search", class: "usa-sr-only" %>
          <%= search_field_tag "search", nil, tabindex: 1, placeholder: t('map.enter_address'), id: "search-field-small", 'aria-labelledby': "hubzone-search", required: true, autofocus: true %>
          <%= button_tag '<span class="usa-sr-only">Clear Search</span>'.html_safe, class: "clear-search fa fa-times-circle", tabindex: 0, name: "search-clear", type: "reset" %>
          <%= button_tag '<span class="usa-sr-only search-icon">Search</span>'.html_safe, id: "hubzone-search-button", tabindex: 2 %>
        </div>
        <% end %>
  </div>
  <div id="legend">
     <%= render partial: "map_legend", locals: {body: nil} %>
  </div>
  <div id="geolocation" class="gmnoprint">
    <%= render partial: 'geolocation_error' %>
    <i class="geolocation-arrow fa fa-location-arrow" aria-hidden="true"></i>
    <div class="geolocation-loading">
      <div class="circle1"></div>
      <div class="circle2"></div>
    </div>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= MAP_CONFIG[:google_api_key] %>&callback=initMap&libraries=places" async=""></script>
</section>
