<section class="map-header">
  <div class="usa-grid">
    <ul class="usa-nav-primary">
      <li class="hubzone-filter usa-accordion">
        <button id="filter-button" class="
        usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="side-nav-1">
          <span><%= t('map.filter') %></span>
        </button>
        <ul id="side-nav-1" class="usa-nav-submenu hubzone-filter-menu" aria-hidden="true">
          <li>
            <input id="qct" type="checkbox" name="qualified-census-tract" value="qct" checked>
            <label for="qct"><%= t('hubzone_assertions.qualified_census_tract') %></label>
          </li>
          <li>
            <input id="counties" type="checkbox" name="qualified-counties" value="counties" checked>
            <label for="counties"><%= t('hubzone_assertions.qualified_county') %></label>
          </li>
          <li>
            <input id="indian-lands" type="checkbox" name="indian-lands" value="indian-lands" checked>
            <label for="indian-lands"><%= t('hubzone_assertions.indian_lands') %></label>
          </li>
          <li>
            <input id="military" type="checkbox" name="military-bases" value="military" checked>
            <label for="military"><%= t('hubzone_assertions.military_bases_brac') %></label>
          </li>
          <li>
            <input id="dda" type="checkbox" name="disaster-area" value="disaster" checked>
            <label for="dda"><%= t('hubzone_assertions.disaster_area') %></label>
          </li>
        </ul>
      </li>
      <li class="hubzone-search">
        <%= form_tag search_path, remote: true, method: :get, class: "usa-search usa-search-small" do %>
        <div id="map-search" role="search">
          <%= label_tag "search", 'HUBZone Map Search', class: "usa-sr-only" %>
          <%= search_field_tag "search", nil, placeholder: t('map.enter_address'), id: "search-field-small"%>
          <%= button_tag '<span class="usa-sr-only search-icon">Search</span>'.html_safe, id: "hubzone-search-button" %>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
</section>
