<%
  # expecting body to be a hash that has either a message or a formatted_address and hubzones from hzutil search
  if body
    address = body['formatted_address'].nil? ? t(body['message']) : body['formatted_address']

    date = if body['query_date'].present?
             date = Date.parse(body['query_date'])
             date = I18n.l date, format: :full
           else
             body['query_date']
           end
    if body['formatted_address'].nil?
      sidebar_display = 'hidden'
      hubzone_status_indicator = 'fa fa-times-circle-o'
    elsif body['hubzone'].size > 0
      sidebar_display = 'sidebar-qualifications'
      hubzone_status_indicator = 'fa fa-check-circle-o'
      hubzone_status = t('hubzone_assertions.qualified')
      hubzones = body["hubzone"]
    else
      sidebar_display = 'sidebar-qualifications'
      hubzone_status_indicator ='fa fa-times-circle-o'
      hubzone_status = t('hubzone_assertions.not_qualified')
    end
  end
%>

<div class="sidebar-search-address">
  <h2 id="search-address" class="hubzone-sidebar-address">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <%= address %>
  </h2>
</div>

<table id="hubzone-qualifications" class="<%= sidebar_display %>">
  <thead>
    <th scope="row">
      <div class="hubzone-status-indicator">
        <i class="<%= hubzone_status_indicator %>" aria-hidden="true"></i>
      </div>
      <h2 id="hubzone-status"><%= hubzone_status %></h2>
    </th>
  </thead>
  <tbody>
    <%= render partial: "qualification", collection: hubzones %>
  </tbody>
</table>

<%= t('hubzone_assertions.qualifications_effective') %><%= date %>


