<!-- Sidebar -->
<%
  # expecting body to be a hash that has either a message or a formatted_address and hubzones from hzutil search
  if body
    address = body['formatted_address'].nil? ? t(body['message']) : body['formatted_address']

    date = if body['query_date'].present?
             date = Date.parse(body['query_date'])
             date.strftime('%b %d %Y')
           else
             body['query_date']
           end

    if body['formatted_address'].nil?
      hubzone_status_indicator = 'fa fa-times-circle-o'
    elsif body['hubzone'].size > 0
      hubzone_status_indicator = 'fa fa-check-circle-o'
      hubzone_status = t('hubzone_assertions.qualified')
      hubzones = body["hubzone"]
    else
      hubzone_status_indicator ='fa fa-times-circle-o'
      hubzone_status = t('hubzone_assertions.not_qualified')
    end
  end
%>

<div class="sidebar-search-address">
  <h2 id="search-address" class="hubzone-sidebar-address">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <%= address %>
  </h2>
</div>
<div class="sidebar-hubzone-status">
  <div class="hubzone-status-indicator">
    <i class="<%= hubzone_status_indicator %>" aria-hidden="true"></i>
  </div>
  <h2 id="hubzone-status" class="hubzone-sidebar-qualification">
    <%= hubzone_status %>
  </h2>
</div>
<div class="sidebar-hubzone-qualifications">
  <h2 class="hubzone-sidebar-qualifications">
    <%= t('hubzone_assertions.qualifications_title') + " as of " + date.to_s %>
  </h2>
  <div id="hubzone-qualifications">
    <ul class="usa-accordion-bordered">
      <%= render partial: "qualification", collection: hubzones %>
    </ul>
  </div>
</div>

