<div class="legend-header open">
  <h4><%= t('legend.title') %></h4>
  <i class="legend-button fa fa-chevron-down"></i>
</div>
<fieldset class="usa-fieldset-inputs">
  <legend class="usa-sr-only" aria-label="<%= t('legend.title') %>"><%= t('legend.title') %></legend>
  <ul class="legend-content" aria-label="<%= t('legend.title') %>">
  
  <div class="legend-list-title">2020 Census Boundaries </div>
    <li class="legend-item">
      <input id="us_county_" type="checkbox" name="us_county" value="us_county" autocomplete="off">
        <label for="us_county_">
          <div class="legend-layer-symbols layer-us_county" aria-label="<%= t('legend.icon_census_tract') %>"></div>County
        </label>
      </input>
    </li>
    <li class="legend-item">
      <input id="us_tract_" type="checkbox" name="us_tract" value="us_tract" autocomplete="off">
        <label for="us_tract_">
          <div class="legend-layer-symbols layer-us_tract" aria-label="<%= t('legend.icon_census_tract') %>"></div>Tract
        </label>
      </input>
    </li>
    <% if false %> 
    <div class="legend-list-title"><%= t('legend.newly_qualified') %></div>
    <li class="legend-item">
      <input id="qnmc_new_legend" type="checkbox" name="qnmc_new" value="qnmc_new"  autocomplete="off">
        <label for="qnmc_new_legend">
          
          <div class="legend-layer-symbols layer-qct" aria-label="<%= t('legend.new_qct') %>"></div><%= t('legend.new_qct') %>
          &nbsp;&nbsp;
          <div class="legend-layer-symbols layer-qnmc" aria-label="<%= t('legend.new_qnmc') %>"></div><%= t('legend.new_qnmc') %>
          
        </label>
      </input>
    </li>
    <% end %>

    <div class="legend-list-title"><%= t('legend.qualified') %></div>

    <li class="legend-item">
     <div class="legend_parent">
      <input id="qct_legend" type="checkbox" name="qct" value="qct" checked="" autocomplete="off">
        <label for="qct_legend">
          <div class="legend-layer-symbols layer-qct" aria-label="<%= t('legend.icon_census_tract') %>"></div><%= t('legend.qct') %>
        </label>
      </input>
      </div>
      <div class="legend_sibling">
          <input id="newly_qct_legend" type="checkbox" name="newly_qct_legend" value="newly_qct_legend"  autocomplete="off">
          <label for="newly_qct_legend">
            <%= t('legend.newly_qualified') %>
          </label>
         </input>
      </div>
    </li>
 

    <li class="legend-item">
        <div class="legend_parent">
          <input id="qnmc_legend" type="checkbox" name="qnmc" value="qnmc" checked="" autocomplete="off">
          <label for="qnmc_legend">
            <div class="legend-layer-symbols layer-qnmc" aria-label="<%= t('legend.icon_county') %>"></div><%= t('legend.qnmc') %>
          </label>
          </input>
          </div>
      <div class="legend_sibling">
          <input id="newly_qnmc_legend" type="checkbox" name="newly_qnmc_legend" value="newly_qnmc_legend" autocomplete="off">
          <label for="newly_qnmc_legend">
            <%= t('legend.newly_qualified') %>
          </label>
        </input>
      </div>
    </li>

    <li class="legend-item">
      <input id="indian_lands_legend" type="checkbox" name="indian_lands" value="indian_lands" checked="" autocomplete="off">
      <label for="indian_lands_legend">
        <div class="legend-layer-symbols layer-indian_lands"  aria-label="<%= t('legend.icon_indian_land') %>"></div><%= t('legend.indian_lands') %>
      </label>
    </li>

    <div class="legend-list-title"><%= t('legend.expiring') %></div>
    
    <li class="legend-item">
      <input id="redesignated_legend" type="checkbox" name="redesignated" value="redesignated" checked="" autocomplete="off">
      <label for="redesignated_legend">
        <div class="legend-layer-symbols layer-qct_r" aria-label="<%= t('legend.icon_redesignated_census') %>"></div>
        <div class="legend-layer-symbols layer-qnmc_r" aria-label="<%= t('legend.icon_redesignated_county') %>"></div><%= t('legend.redesignated') %>
      </label>
    </li>
    <li class="legend-item">
      <input id="qda_legend" type="checkbox" name="qda" value="qda" checked="" autocomplete="off">
      <label for="qda_legend">
        <div class="legend-layer-symbols layer-qct_qda" aria-label="<%= t('legend.icon_disaster_area_census') %>"></div>
        <div class="legend-layer-symbols layer-qnmc_qda" aria-label="<%= t('legend.icon_disaster_area_county') %>"></div><%= t('legend.qda') %>
      </label>
    </li>
  
    <li class="legend-item">
    <input id="mvw_gov_area_map_legend" type="checkbox" name="mvw_gov_area_map" value="mvw_gov_area_map" checked="" autocomplete="off">
    <label for="mvw_gov_area_map_legend">
    <div class="legend-layer-symbols layer-mvw_gov_area_map"  aria-label="<%= t('legend.icon_mvw_gov_area_map') %>"></div>
    <div class="legend-layer-symbols layer-mvw_gov_area_map_county"  aria-label="<%= t('legend.icon_mvw_gov_area_map_county') %>"></div><%= t('legend.mvw_gov_area_map') %>
   </label>
  </li> 
  </ul>
</fieldset>
