 <li>
  <button class="usa-accordion-button"
    aria-expanded="false" aria-controls="<%= qualification['hz_type'] %>">
    <%= t(('hubzone_assertions.' + qualification["hz_type"]).to_s)  %>
    <span class="usa-label"><%= t('hubzone_assertions.expires') %> <%= qualification["start"].to_s %></span>
  </button>
  <div id="<%= qualification['hz_type'] %>" class="usa-accordion-content" aria-hidden="true">
    <p>
    <%= qualification["county"].to_s %>
    </p>
  </div>
</li>
<li>
