<%
  # toggle the expiration label on only if date exists
  if qualification["expires"].nil?
    expiration_display = 'hidden'
  else
    expiration_display = 'expires-label'
  end
%>

<tr>
  <th id="<%= qualification['hz_type'] %>">
    <div class="qualification-label"><%= t(('hubzone_assertions.' + qualification["hz_type"]).to_s)  %></div>
    <span class="<%= expiration_display %>"><%= t('hubzone_assertions.expires') %> <%= qualification["expires"].to_s %></span>
  </th>
</tr>
