<%
  unless qualification["expires"].nil?
    expires_text = qualification["expires"].to_date < Date.today ? "expired" : "expires"
  end
%>

<% if qualification["hz_type"] == "likely_qda" %>
  <%= render partial: "likely_qualification", locals: {qualification: qualification} %>
  <div class="designation-details-row" hidden>
    <%= render partial: 'map/additional_details/' + qualification['hz_type'], locals: {qualification: qualification} %>
  </div>
<% else %>
  <div id="<%= qualification['hz_type'] %>" class="designation-row">
    <div class="sidebar-layer-symbol layer-<%= qualification["hz_type"] %>"></div>
    <div class="qualification-label-wrapper" tabindex="13">
      <div class="qualification-label">
        <%= t(('hubzone_assertions.' + qualification["hz_type"]).to_s) %>
      </div>
        <% unless qualification["expires"].nil? %>
        <span tabindex="14" class="expires-label"><%= t('hubzone_assertions.' + expires_text) %> <%= I18n.l Date.parse(qualification["expires"]), format: :full %></span>
        <% end %>
    </div>
  </div>
  <div class="designation-details-row" hidden>
    <%= render partial: 'map/additional_details/' + qualification['hz_type'], locals: {qualification: qualification} %>
  </div>
<% end %>
